<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="ConnectionStr" connectionString="Data Source=LOCALHOST\SQLEXPRESS;Initial Catalog=SimpleAlmacen;Persist Security Info=True;User ID=sa;Password=mdav4000" />
  </connectionStrings>
</configuration>